<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Todos los derechos reservados &copy; </p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Términos de uso</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Política de privacidad</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Aviso legal</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
